body {
    margin: 0;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .clock {
    width: 800px;
    height: 800px;
    background: lightblue;
    border: 10px solid #222;
    border-radius: 50%;
    position: relative;
  }
  .number {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 32px;
    font-weight: bold;
    transform: rotate(calc(var(--i) * 30deg)) translateY(-370px) rotate(calc(var(--i) * -30deg));
    transform-origin: center;
  }
  
  
  .hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    transform: rotate(90deg);
    border-radius: 6px;
  }
  
  .hour {
    width: 10px;
    height: 200px;
    background: #333;
  }
  
  .minute {
    width: 6px;
    height: 280px;
    background: #555;
  }
  
  .second {
    width: 3px;
    height: 340px;
    background: red;
  }
  
  .center-dot {
    width: 20px;
    height: 20px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  